* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 1em;
  background: #141414;
  color: #e8e8e8;
  counter-reset: listcount;
  line-height: 1.25;
  font-size: 12pt;
}

.avatar {
  max-width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container .page-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.container .content {
  grid-column-start: 1;
}

.container .sidebar {
  grid-column-start: 2;
  padding-left: 30px;
  padding-top: 30px;
}

a {
  color: #6f99ea;
}

ul {
  list-style: none;
  counter-reset: listcount;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 2ch;
}

li::before {
  counter-increment: listcount;
  content: "0" counter(listcount) ": ";
  color: #d7dc4b;
}

code {
  font-family: monospace;
  color: #ce664a;
}

p {
  margin-bottom: 1em;
}

pre.src {
  overflow-x: auto;
  overflow-y: visible;
}

pre {
  box-shadow: none;
  margin-bottom: 1em;
  overflow-x: auto;
  overflow-y: visible;
}

h1 {
  text-decoration: underline dotted;
  font-size: 16pt;
  margin-bottom: 10px;
}

h2 {
  font-size: 14pt;
  text-decoration: underline dotted;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

hr.footer {
  margin-bottom: 0.5em;
}

figure {
  margin-bottom: 1em;
}

.content {
  font-size: 1.125em;
