<img class="avatar" src="{{ $.Site.Params.avatar }}" width="150" height="150" alt="{{ $.Site.Params.avataralt | default "An avatar of the author" }}">
<p>{{ $.Site.Params.description }}</p>

<p><hr /></p>

{{ range $index, $element := .Site.Menus.main }}
  <p><a href="{{ $element.URL | absURL }}" title="{{ $element.Name }}">{{ $element.Name }}</a></p>
{{ end }}

<p><hr /></p>

Recent posts:

{{ range first 5 .Site.RegularPages }}
  <p><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></p>
{{ end }}

<p><hr /></p>

{{ $.Site.Params.sidebar_footer | safeHTML}}
